.forms.register.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    opacity: 0;

    .signin,
    .signup {
        width: 500px;
        min-width: 500px;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 2rem;

            input{
                width: 100%;
                height: 40px;
                padding: 0 1rem;
                border-radius: 5px;
                border: none;
                background-color: #f2f1f2;
                font-family: 'Metropolis-medium', sans-serif;
            }

            textarea{
                max-width: 100%;
                min-width: 100%;
                height: auto;
                padding: 1rem;
                border-radius: 5px;
                border: none;
                background-color: #f2f1f2;
                font-family: 'Metropolis-medium', sans-serif;
            }

            .btn-send{
                background-color: $success;
                color: #f2f1f2;
                cursor: pointer;
                transition: opacity .2s linear;
                &:hover{
                    opacity: .7;
                }
            }
        }

        &__register{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            p{
                width: 100%;
                text-align: center;
            }

            button{
                width: 100%;
                padding: .9rem 0;
                text-align: center;
                color: black;
                cursor: pointer;
                border-radius: 5px;
                border: none;
                background-color: #fff;
                box-shadow: 0px 0px 5px -2px #000000;
                transition: all .2s linear;

                &:hover{
                    background-color: $blue;
                    color: #fff;
                }
            }
        }

        .forgot{
            width: 100%;
            padding: 1.5rem;
            text-align: center;
            a{
                text-decoration: none;
                color: #c7c7c7;
                cursor: pointer;
            }
        }

        h1{
            font-family: 'Metropolis-bold', sans-serif;
            text-align: center;
        }

        &__backIcon{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #738a90;
            cursor: pointer;
            transition: color .2s linear;

            svg{
                transform: scale(1.5);
            }
            &:hover{
                color: $blue;
            }
        }

        &__first-last{
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }
    }
}

.form-travel{
    width: 100%;
    height: 100%;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        // Display none forced
        input[value=""].react-mapbox-ac-input + span > div{
            display: none !important;
        }

        .address-button{
            background-color: #f2f1f2;
            border: none;
            padding: 1rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            &:hover{
                border: 1px solid $blue;
            }
        }

        .check-address-button{
            background-color: #f2f1f2;
            border: 1px solid $blue;
            padding: 1rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;
        }

        .textarea-form{
            padding: 1rem 1rem;
            height: 100px;
        }

        .radio-group{
            display: flex;
            justify-content: space-between;

            label{
                border: 1px solid #c7c7c7;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                position: relative;
                cursor: pointer;

                input{
                    background-color: blue;

                    &:checked ~ label{
                        background-color: red;
                    }
                }
            }
        }
    }

    &__content{
        width: 50%;
        min-width: 500px;
        padding: 1rem;
        border: 1px solid #738a90;
        border-radius: 10px;
    }
}

.input-form{
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    border-radius: 5px;
    border: none;
    background-color: #f2f1f2;
    font-family: 'Metropolis-medium', sans-serif;
}

.form-group{
    width: 500px;
    min-width: 500px;
    padding: 1rem;

    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.required:after{
    content: '*';
    color: red;
}

h1{
    margin: 0 0 10px 0;
}
