.forms.register.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .conection,
    .register {
        &__form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
