.travels{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__card{
        cursor: pointer;
        background-color: #001b3a !important;

        &-title{
            color: white;
        }

        &-description{
            color: white !important;
        }
    }
}