.discover{
    width: 100%;
    .travel{
        &-add{
            width: fit-content;
        }
    }
    .travels{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 10px;
        width: 100%;
    
        &__card{
            cursor: pointer;
            background-color: #fafafa !important;
            transform: translateY(0);
            transition: all .2s linear!important;
            min-width: 100px;
            height: 400px;
    
            &-title{
                color: $fontColor;
            }
    
            &-description{
                color: $fontColor !important;
                height: 80px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &-add{
                display: flex;
                align-items: center;
                justify-content: center;
                &>svg{
                    fill: $blue;
                    transform: scale(3);
                }
            }
    
            &:hover{
                transform: translateY(-3px);
                box-shadow: 0px 18px 10px -15px #000000;
            }
        }
    }
}

.btn-delete{
    background-color: $danger !important;
    color: white!important;
    border: 1px solid $danger !important;
}

.btn-outlined{
    background-color: none !important;
    border: 1px solid $blue !important;
    margin: 0!important;
}

.action-card{
    justify-content: space-between!important;
}

.margin0{
    margin: 0 !important;
}