@font-face {
    font-family: "Metropolis-medium";
    src: url("../../fonts/Metropolis-Medium.otf");
}
@font-face {
    font-family: "Metropolis-light";
    src: url("../../fonts/Metropolis-Light.otf");
}
@font-face {
    font-family: "Metropolis-bold";
    src: url("../../fonts/Metropolis-Bold.otf");
}

.bold{
    font-family: "Metropolis-bold", sans-serif;
}
.medium{
    font-family: "Metropolis-medium", sans-serif;
}
.light{
    font-family: "Metropolis-light", sans-serif;
}
