.top-bar{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #fafafa;
    display: flex;
    align-items: center;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #738a90;
        bottom: 0;
        opacity: 0.1;
    }
    .filter-search{
        position: relative;
        z-index: 0;

        svg{
            position: absolute;
            left: 20px;
            top: 6px;
            z-index: 1;
            fill: #738a90;
        }
        .input-search{
            padding: .4rem 1.5rem;
            border: 1px solid #738a90;
            border-radius: 5px;
            position: relative;
            margin: 0 15px;
            width: 400px;
            min-width: 300px;
        }
    }
}